//Esquemas de color

//Primer esquema de color
$white: #FFF;
$platinum: #E6E7E7;
$light-gray: #D1D1D1;

//Segundo esquema de color
$fuzzy-wuzzy: #E56353;
$ruddy-pink: #D76C69;
$spanish-pink:#ECBCBA;

//Tercer esquema de color
$eerie-black: #121619;
$raisin-black:#222323;
$nickel: #6C6E70;

//Tipografía
$roboto: 'Roboto', sans-serif;
$playfair: 'Playfair Display', serif;

//Peso de fuente
$regular: 400;
$extra-bold: 900 ;
$light: 300;
$italic: italic;


//Tamaño de fuente
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

//Components buttons sizes
$btn-medium : 12.5rem;
$btn-small:8rem;
$btn-medium-mbl : 11rem;
$btn-small-mbl:6rem;
 




