.footer {
    background-color: $eerie-black;
    text-align: center;
    padding: 4rem;

    &__img{
        width: 10%;
    }
}


@media (max-width:375px){
    .footer{
        &__img{
            width: 50%;
        }
    }
}